<% provide :title, t("about") %>
<h1><%= t "about" %></h1>
<p>
  <%= t "The"%> <%= link_to t("ror"), "http://www.railstutorial.org/" %> <%= t "isa"%>
  <%= link_to t("book"), "http://www.railstutorial.org/book" %>
  <%= link_to t("sreen_seri"), "http://screencasts.railstutorial.org" %>
  <%= t "to_teach_web_development_with" %>
  <%= link_to t("ror"), "http://www.railstutorial.org/" %>
  <%= t "This_is_the_sample_application_for_the_tutorial" %>
</p>
