<% provide(:title, t("about")) %>
<h1><%= t "about"%></h1>
<p>
  <%=t "the"%> <%= link_to t("ror"), "http://www.railstutorial.org/" %><%=t "isa"%>
  <%= link_to t("book"), "http://www.railstutorial.org/book" %>
  <%= link_to t("sreen seri"), "http://screencasts.railstutorial.org" %>
  <%= t "to teach web development with " %>
  <%= link_to t("ror"), "http://www.railstutorial.org/" %>
  <%= t "This is the sample application for the tutorial" %>
</p>
