<% provide :title, t("help") %>
<h1><%= t "help" %></h1>
<p>
  <%= t "gethelp"%> <%= t "onror"%> <%=t "atthe"%>
  <%= link_to t("rorhelpss"), "http://www.railstutorial.org/help" %>
  <%= t "toget"%> <%= t "seethe"%>
  <%= link_to t("ror"), "http://www.railstutorial.org/" %>
  <%= link_to t("book"), "http://www.railstutorial.org/book" %>
</p>
