<% provide :title, t("help") %>
<h1><%= t "help" %></h1>
<p>
  <%= t "gethelp" %> <%= t "onror" %> <%= t"atthe" %>
  <%= link_to t("rails help section"), "http://www.railstutorial.org/help" %>
  <%= t "toget" %> <%= t "seethe" %>
  <%= link_to t("ror"), "http://www.railstutorial.org/book" %>
</p>
