<% provide :title, t("help") %>
<h1><%= t"help"%></h1>
<p>
  <%= t "Get help on the"%> <%= t "ror"%> <%= t "atthe"%>
  <%= link_to t("rails help section"), "http://www.railstutorial.org/help" %>
  <%= t " To get help on this sample app, see the"%>
  <%= link_to t("ror"), "http://www.railstutorial.org/book" %>
</p>
