<div class="center jumbotron">
  <h1><%= t("welcome")%></h1>

  <h2>
    <%= t "thisis" %>
    <%= link_to t("ror"), "http://www.railstutorial.org/" %>
    <%= t "samapp" %>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
