  <footer class="footer">
  <small>
    The <%= link_to t("ror_tut"), "http://www.railstutorial.org/" %>
    by <%= link_to t("mc_hart"), "http://www.michaelhartl.com/"%>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><%= link_to t("new"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
